@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: black;
  /* background-image: url(../public/images/bg3.jpg); Correct path for public folder */
  background-size:cover; /* Ensures the image covers the entire viewport */
  background-attachment: fixed; /* Fixes the background while scrolling */
  background-position: center;
  /* filter: brightness(50%) */
 
}

@font-face{
  font-family: "NBold";
  src: url(./assets/fonts/NDKernBold.woff) format("woff");
}
@font-face{
  font-family: "Preg";
  src: url(./assets/fonts/Poppins-Regular.ttf) format("ttf");
}
@font-face{
  font-family: "NBook";
  src: local("NDKernBook")
  url(./assets/fonts/NDKernBook.woff) format("woff");
}
@font-face{
  font-family: "NDemi";
  src: local("NDKernDemi"),
  url(./assets/fonts/NDKernDemi.woff) format("woff");
}
@font-face{
  font-family: "NRegular";
  src: local("NDKernRegular"),
  url(./assets/fonts/NDKernRegular.woff) format("woff");
}

.app{
  background-color: rgba(0, 0, 0, 0.402);
}